@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";
@import "common/normalize.css";

$fa-font-path: "/res/fonts/fontawesome";
@import "common/fontawesome/_duotone";
@import "common/fontawesome/_solid";
@import "common/fontawesome/_regular";
@import "common/fontawesome/_light";
@import "common/fontawesome/_brands";
@import "common/fontawesome/_fontawesome";

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600;900&family=Jost:wght@300;400;600&display=swap");

body {
	font-weight: 400;
	@apply font-sans text-gray-800 dark:text-gray-400 bg-center bg-no-repeat bg-cover;
	& > canvas {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}
.w-90{
	width: 90%;
}
.w-80{
	width: 80%;
}
.w-70{
	width: 70%;
}
.z-999999{
	z-index: 999999;
}
.z-9999999{
	z-index: 9999999;
}
.w-50{
	width: 50%;
}
@layer utilities {
	@variants dark {
		.bg-light {
			background: #f0f0f0;
		}
		.bg-dark {
			background: #333333;
		}
	}
}
.number {
	font-size: 4rem;
}
.input-group {
	box-shadow: 0 1px 3px rgb(50 50 93 / 15%), 0 1px 0 rgb(0 0 0 / 2%);
	transition: box-shadow 0.15s ease;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}
.input-group {
	input, select {
		box-shadow: none;
		position: relative;
		flex: 1 1 auto;
		width: 1%;
		margin-bottom: 0;
	}
	.input-group-prepend {
		margin-right: -1px;
		display: flex;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		border: 0;
		transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		box-shadow: none;
		display: flex;
		border: 1px solid #737373;
		border-radius: 0.375rem;
	}
	.input-group-text {
		display: flex;
		align-items: center;
		padding: 0.625rem 0.75rem;
		margin-bottom: 0;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.5;
		color: gray;
		text-align: center;
		white-space: nowrap;
		background-color: #fff;
		border-radius: 0.375rem;
	}

	.input-group-prepend:not(:last-child) {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		border-right: none;
		.input-group-text {
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
			border-right: none;
		}
	}
	.input-group-prepend:not(:first-child) {
		border-bottom-left-radius: 0;
		border-top-left-radius: 0;
		border-left: none;

		.input-group-text {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
			border-left: none;
		}
	}
	select:not(:last-child) {
		border-right: 0;
		padding-right: 5px;
		padding-left: 5px;
	}
	select:not(:first-child) {
		border-left: 0;
		padding-left: 5px;
		padding-right: 5px;
	}
	select:not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	select:not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	input:not(:last-child) {
		border-right: 0;
		padding-right: 5px;
		padding-left: 5px;
	}
	input:not(:first-child) {
		border-left: 0;
		padding-left: 5px;
		padding-right: 5px;
	}
	input:not(:first-child) {
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	input:not(:last-child) {
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

.bg-dark {
	background: #333333;
}
.toggle-path {
	transition: background 0.3s ease-in-out;
}
.toggle-circle {
	@apply my-auto;
	left: 0.25rem;
	transition: all 0.3s ease-in-out;
}
input:checked ~ .toggle-circle {
	transform: translateX(100%);
}

.mainmenu {
	@apply overflow-hidden fixed top-1/2 transform -translate-y-1/2 left-8 w-16 rounded-xl bg-white dark:bg-black shadow bg-opacity-75 dark:bg-opacity-75 backdrop-filter backdrop-blur-sm flex flex-col flex-nowrap justify-start items-center;

	.link {
		transition: all 300ms ease-in-out;
		@apply block w-16 h-16 p-0 flex flex-row justify-center items-center opacity-80;
		& > i {
			@apply text-4xl;
		}
		&.active {
			@apply text-red-500 opacity-100;
		}
		&:hover {
			@apply text-red-700 opacity-100;
		}
	}
}

.dropdown-menu {
	&:not(.menudrop) {
		@apply relative flex flex-row items-center;

		&:focus {
			pointer-events: none;
		}

		.sub-menu {
			@apply absolute bg-white bg-opacity-75 backdrop-filter backdrop-blur-sm dark:bg-gray-800 overflow-hidden px-4 py-2 lg:px-8 lg:py-4 top-14 right-0 z-50 rounded-xl filter drop-shadow;
			opacity: 0;
			visibility: hidden;
			pointer-events: auto;
			transition: visibility 100ms;
			hr {
				@apply -mx-4 my-4 lg:-mx-8;
			}
		}

		&:focus .sub-menu {
			@apply flex flex-col;
			opacity: 1;
			visibility: visible;
		}
	}
}
@media screen and (max-width: 640px) {
	.dropdown-menu.menudrop {
		@apply relative flex flex-row items-center;

		&:focus {
			pointer-events: none;
		}

		.sub-menu {
			@apply absolute bg-white bg-opacity-75 backdrop-filter backdrop-blur-sm dark:bg-gray-800 overflow-hidden px-4 py-2 lg:px-8 lg:py-4 top-14 right-0 z-50 rounded-xl filter drop-shadow;
			opacity: 0;
			visibility: hidden;
			pointer-events: auto;
			transition: visibility 100ms;
			hr {
				@apply -mx-4 my-4 lg:-mx-8;
			}
		}

		&:focus .sub-menu {
			@apply flex flex-col;
			opacity: 1;
			visibility: visible;
		}
	}
}
.user-dropdown {
	.user-avatar {
		@apply bg-center bg-cover bg-no-repeat bg-origin-border min-w-avatar min-h-avatar rounded-full overflow-hidden border-2 border-gray-200 dark:border-black;
	}

	.user-name {
		@apply truncate font-bold text-xl md:text-3xl;
	}

	.user-menu {
		hr {
			@apply -mx-4 my-4 lg:-mx-8;
		}
	}
}

#destino {
	.adicionar {
		display: none;
	}
	.remover {
		display: block;
	}
}

#repetir {
	.adicionar {
		display: block;
	}
	.remover {
		display: none;
	}
}

figure.led {
	--size: 16px;
	$bgColor: #646464;
	flex: 0 0 var(--size);
	content: "";
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background-color: $bgColor;
	box-shadow: inset 0 2px 2px 0px darken($bgColor, 25%);
	transition: all 0.3s ease;

	&.ok,
	&[data-status="ok"] {
		$bgColor: #4fff4f;
		background-color: $bgColor;
		box-shadow: 0 0 4px darken($bgColor, 25%), 0 0 var(--size) calc(var(--size) * 0.75) rgba($bgColor, 0.25),
			inset 0 2px 2px 0px darken($bgColor, 33%);
	}
	&.warning,
	&[data-status="warning"] {
		$bgColor: #ffff4f;
		background-color: $bgColor;
		box-shadow: 0 0 4px darken($bgColor, 25%), 0 0 var(--size) calc(var(--size) * 0.75) rgba($bgColor, 0.25),
			inset 0 2px 2px 0px darken($bgColor, 33%);
	}
	&.error,
	&[data-status="error"] {
		$bgColor: #ff4f4f;
		background-color: $bgColor;
		box-shadow: 0 0 4px darken($bgColor, 25%), 0 0 var(--size) calc(var(--size) * 0.75) rgba($bgColor, 0.25),
			inset 0 2px 2px 0px darken($bgColor, 33%);
	}

	&:first-of-type {
		margin-left: var(--size);
	}
	&:not(:last-of-type) {
		margin-right: var(--size);
	}
}

table {
	th,
	td {
		@apply text-left font-normal px-4 py-2;
	}
	thead {
		@apply leading-extra-loose bg-black bg-opacity-10 dark:bg-white;
		th,
		td {
			@apply text-black font-bold text-opacity-100 dark:text-white uppercase;
		}
	}
	tbody {
		tr {
			@apply border-black border-opacity-10;
			&:not(:first-of-type) {
				@apply border-t;
			}
			&:not(:last-of-type) {
				@apply border-b;
			}
			&:hover {
				@apply bg-black bg-opacity-5 dark:bg-white;
				th,
				td {
					@apply text-opacity-100;
				}
			}
		}
		td {
			@apply text-black text-opacity-50 dark:text-white;
		}
	}
}

.bg-logos {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100px;
	border: 1px solid rgb(196, 192, 192);
	border-radius: 10px;
}
table {
	.bg-logos {
		width: 100px;
	}
}
.card {
	@apply flex flex-col rounded-sm bg-white dark:bg-black shadow bg-opacity-75 dark:bg-opacity-50 backdrop-filter backdrop-blur-sm;

	.card-header {
		@apply border-b px-6 py-3 dark:border-black dark:border-opacity-80;
	}

	.card-body {
		@apply px-4 py-3;
	}

	.card-footer {
		@apply border-t px-6 py-3 dark:border-black dark:border-opacity-80;
	}

	&[aria-visible="false"] {
		@apply hidden;
	}
}

input {
	[type="text"],
	[type="email"],
	[type="url"],
	[type="password"],
	[type="number"],
	[type="date"],
	[type="datetime-local"],
	[type="month"],
	[type="search"],
	[type="tel"],
	[type="time"],
	[type="week"],
	[multiple] {
		background-color: transparent;
	}
}
textarea,
select {
	background-color: transparent;
}

#logocopy{
	width: 100px;
    padding: 5px;
    border-radius: 30px;
}

.dark #logocopy{
    width: 100px;
    background: white;
    padding: 2px;
    border-radius: 30px;
}
