// Colors
$b1cd: #000050;
$b1cl: #0033ff;
$b2cd: darkred;
$b2cl: red;
$b3cd: darkorange;
$b3cl: orange;
$b4cd: #554d00;
$b4cl: #ff4e00;
$b5cd: #300050;
$b5cl: #8000ff;
$black: #000;
$white: #fff;
$grey: #b5b4b4;

////////// Mixin

// Generate different colors for slides
@mixin color_render($DC, $LC) {
  background-color: $DC;
  .illustration .inner {
    background-color: $LC;
    img {
      width: 23rem;
      transform: skewX(0deg);
      height: auto;
      margin-left: -20px;
    }

    &::before {
      background-color: rgba($LC, 0.4);
    }
  }
  button {
    background-color: $LC;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;

  @media only screen and (max-width: 800px) {
    font-size: 57%;
  }
}

body {
  background-color: #000;
  color: $white;
  padding: 8rem;
  @media only screen and (max-width: 1000px) {
    padding: 0;
  }
}

.container {
  position: relative;
  overflow: hidden;
  border-radius: 5rem;

  @media only screen and (max-width: 1000px) {
    border-radius: 0;
  }
}

.slider {
  display: flex;
  width: 300%;
  height: 100%;
  transition: all 0.25s ease-in;
  position: fixed;
  z-index: 99999;
  top: 0%;
  left: 0;
  // overflow-x: auto;
  // scroll-snap-type: x mandatory;
  // -webkit-overflow-scrolling: touch;
  // scroll-behavior: smooth;
  transform: translateX(0);

  @media only screen and (max-width: 1000px) {
    height: 100vh;
  }

  .box {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    overflow: hidden;
    position: relative;

    @media only screen and (max-width: 650px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
    }

    .bg {
      padding: 2rem;
      background-color: rgba($black, 0.2);
      width: 55%;
      transform: skewX(7deg);
      position: absolute;
      height: 100%;
      left: -10%;
      padding-left: 20rem;
      transform-origin: 0 100%;

      @media only screen and (max-width: 800px) {
        width: 65%;
      }

      @media only screen and (max-width: 650px) {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 54%;
        transform: skewX(0deg);
      }

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: inherit;
        pointer-events: none;
        transform: skewX(10deg);

        @media only screen and (max-width: 650px) {
          width: 120%;
          bottom: 0;
          transform: skewX(0deg);
        }
      }
    }

    .details {
      padding: 5rem;
      padding-left: 10rem;
      z-index: 100;
      grid-column: 2 / -1;
      grid-row: 1 / -1;

      @media only screen and (max-width: 650px) {
        grid-row: 2 / span 1;
        grid-column: 1 / -1;
        text-align: center;
        padding: 2rem;
        transform: translateY(-9rem);
      }

      h1 {
        font-size: 3.5rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }

      p {
        display: inline-block;
        font-size: 1.6rem;
        margin-bottom: 0rem;
        margin-right: 2rem;

        @media only screen and (max-width: 800px) {
          margin-right: 0;
          font-size: 2rem;
        }
      }

      button {
        padding: 1rem 3rem;
        color: $white;
        border-radius: 2rem;
        outline: none;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          opacity: 0.8;
        }

        &:focus {
          outline: none;
          border: none;
        }
      }
    }
  }

  .box1 {
    @include color_render($b1cd, $b1cl);
  }
  .box2 {
    @include color_render($b2cd, $b2cl);
  }
  .box3 {
    @include color_render($b3cd, $b3cl);
  }
  .box4 {
    @include color_render($b4cd, $b4cl);
  }
  .box5 {
    @include color_render($b5cd, $b5cl);
  }

  .illustration {
    grid-column: 1 / span 1;
    grid-row: 1 / -1;
    justify-self: center;

    @media only screen and (max-width: 650px) {
      grid-row: 1 / span 1;
      grid-column: 1 / -1;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    div {
      height: 25rem;
      width: 18rem;
      align-items: center;
      display: flex;
      border-radius: 3rem;
      background-color: $b1cl;
      position: relative;
      transform: skewX(-10deg);

      @media only screen and (max-width: 800px) {
        height: 20rem;
        width: 15rem;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 3rem;
        top: 0;
        left: 0;
      }

      &::after {
        transform: translate(4rem, -1rem);
      }
      &::before {
        transform: translate(2rem, -2rem);
      }
    }
  }
}

.prev,
.next,
.trail {
  z-index: 999999;
  position: fixed;
}

.prev,
.next {
  width: 4rem;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s ease;

  @media only screen and (max-width: 650px) {
    display: none !important;
  }

  &:hover {
    opacity: 1;
  }
}
.prev {
  top: 50%;
  left: 2%;
  display: none;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.trail {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 17%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 2.5rem;

  @media only screen and (max-width: 650px) {
    width: 50%;
    bottom: 13%;
  }

  div {
    padding: 2rem;
    border: 3px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    background: #ffffff8a;
    opacity: 0.3;
    transition: all 0.3s ease;
    i {
      opacity: 0;
      &:hover {
        opacity: 0.6;
      }
    }
    &.active i{
      opacity: 0.8;
    }
    &:hover {
      opacity: 0.6;
    }
    @media only screen and (max-width: 650px) {
      padding: 1rem;
    }
  }
}
.btn{
  font-size:1.5rem!important;
}
.desktop{
  display:inline-block!important;

  @media only screen and (max-width: 650px) {
    display: none !important;
  }
}

.mobile{
  display:none!important;

  @media only screen and (max-width: 650px) {
    display: inline-block !important;
  }
}
.active {
  opacity: 1 !important;
}
