.wrapper-menu {
  --color:$nuBlack;
  width: 30px;
  height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
  transform: translateZ(0.5rem);
}

.wrapper-menu.open {
  transform: rotate(-45deg) translateZ(1rem);
}

.line-menu {
  background-color: var(--menuColor);
  border-radius: 6px;
  width: 100%;
  height: 2px;
  transition: background-color 500ms ease;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), background-color 500ms ease;
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), background-color 500ms ease;
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}