//Mixins
@mixin flexColCenter{
	display:flex;
	flex-flow:column nowrap;
	justify-content: center;
	align-items: center;
}

@mixin flexColSpaceEvenly{
	display:flex;
	flex-flow:column nowrap;
	justify-content: space-evenly;
	align-items: stretch;
}

@mixin flexRowSpaceEvenly{
	display:flex;
	flex-flow:row nowrap;
	justify-content: space-evenly;
	align-items: stretch;
}
@mixin flexColStretch{
	display:flex;
	flex-flow:column nowrap;
	justify-content: stretch;
	align-items: stretch;
}
@mixin gridColStretch{
	display: grid;
	grid-template-columns: max-content;
	grid-template-rows: max-content auto;
	place-items: stretch stretch;
	place-content: stretch stretch;
}

@mixin gradBg($col1: $accentColor,$col2: $bgColor){
	background-image: linear-gradient(to bottom, rgba($col1,1) 0%, rgba($col2,1) 100%);
}

@mixin bgImage($img, $size: contain, $pos: center,$repeat: no-repeat){
	background-image:url(#{$imgFolder}#{$img});
	background-position: $pos;
	background-repeat: $repeat;
	background-size: $size;
}

@mixin itemLink{
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
@mixin for-print{
	@media print { @content; }
}

// Respond above.
@mixin respond-above($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }

  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin respond-between($lower, $upper) {

  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }

  // If one or both of the breakpoints don't exist.
  } @else {

    // If lower breakpoint is invalid.
    @if (map-has-key($breakpoints, $lower) == false) {

      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($breakpoints, $upper) == false) {

      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}
